USE [master]
GO
/****** Object:  Database [BaseCompleta]    Script Date: 4/11/2025 18:16:41 ******/
CREATE DATABASE [BaseCompleta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseCompleta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BaseCompleta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseCompleta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BaseCompleta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseCompleta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseCompleta]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [nvarchar](100) NOT NULL,
	[Apellido_Cliente] [nvarchar](100) NULL,
	[Telefono_Cliente] [nvarchar](20) NULL,
	[DNI_Cliente] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_producto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_producto](
	[ID_Insumo] [int] NOT NULL,
	[ID_Prod] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[Unidad] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Insumo] ASC,
	[ID_Prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_solicitud_de_venta]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_solicitud_de_venta](
	[ID_SV] [int] NOT NULL,
	[ID_Prod] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SV] ASC,
	[ID_Prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_emp] [int] IDENTITY(1,1) NOT NULL,
	[ID_rol] [int] NOT NULL,
	[Apellido_emp] [nvarchar](100) NOT NULL,
	[Dni] [nvarchar](15) NOT NULL,
	[Direccion_emp] [nvarchar](255) NOT NULL,
	[Telefono_emp] [nvarchar](20) NOT NULL,
	[Nombre_emp] [nvarchar](100) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InicioSesion]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InicioSesion](
	[ID_Usuario] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[ID_Insumo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_insumo] [nvarchar](100) NOT NULL,
	[Unidad] [nvarchar](20) NOT NULL,
	[Cantidad] [decimal](10, 2) NULL,
	[Calidad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Insumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden_de_compra]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_de_compra](
	[ID_OC] [int] NOT NULL,
	[Id_emp] [int] NOT NULL,
	[ID_Insumo] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[Unidad] [nvarchar](20) NULL,
	[Fecha_Entrega] [date] NULL,
	[Finalizada] [bit] NULL,
	[ID_prov] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden_de_produccion]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_de_produccion](
	[ID_OP] [int] NOT NULL,
	[Id_emp] [int] NOT NULL,
	[ID_Prod] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Aprobada] [bit] NULL,
	[Finalizada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_Prod] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Produc] [nvarchar](100) NOT NULL,
	[Rubro] [nvarchar](50) NULL,
	[Precio_Produc] [decimal](10, 2) NULL,
	[Existencias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ID_prov] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_prov] [nvarchar](100) NOT NULL,
	[Cuit] [nvarchar](15) NOT NULL,
	[Direccion_prov] [nvarchar](255) NULL,
	[Telefono_prov] [nvarchar](20) NULL,
	[ID_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_rol] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud_de_venta]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud_de_venta](
	[ID_SV] [int] NOT NULL,
	[Id_emp] [int] NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Fecha_Entrega] [date] NULL,
	[Precio_total] [decimal](10, 2) NULL,
	[Pendiente] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre_Cliente], [Apellido_Cliente], [Telefono_Cliente], [DNI_Cliente]) VALUES (1, N'Carlitos', N'Ortega', N'1111111111', N'11111111')
INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre_Cliente], [Apellido_Cliente], [Telefono_Cliente], [DNI_Cliente]) VALUES (2, N'José', N'San Martin', N'2665478997', N'34567654')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Detalle_producto] ([ID_Insumo], [ID_Prod], [Cantidad], [Unidad]) VALUES (1, 1, CAST(1.00 AS Decimal(10, 2)), N'Kilogramos')
INSERT [dbo].[Detalle_producto] ([ID_Insumo], [ID_Prod], [Cantidad], [Unidad]) VALUES (1, 3, CAST(1.00 AS Decimal(10, 2)), N'Kilogramos')
INSERT [dbo].[Detalle_producto] ([ID_Insumo], [ID_Prod], [Cantidad], [Unidad]) VALUES (4, 1, CAST(0.50 AS Decimal(10, 2)), N'Litros')
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id_emp], [ID_rol], [Apellido_emp], [Dni], [Direccion_emp], [Telefono_emp], [Nombre_emp], [ID_Usuario]) VALUES (23, 3, N'Rico', N'47190174', N'Puerto Deseado 428', N'1122975068', N'Alejo', 1)
INSERT [dbo].[Empleado] ([Id_emp], [ID_rol], [Apellido_emp], [Dni], [Direccion_emp], [Telefono_emp], [Nombre_emp], [ID_Usuario]) VALUES (26, 3, N'Castro', N'46732931', N'Rebizo 500', N'1126110020', N'Luana', 3)
INSERT [dbo].[Empleado] ([Id_emp], [ID_rol], [Apellido_emp], [Dni], [Direccion_emp], [Telefono_emp], [Nombre_emp], [ID_Usuario]) VALUES (27, 3, N'Gomez', N'46947544', N'Rebizo 600', N'1159024801', N'Jeremias', 4)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (1, N'alejorico711@gmail.com', N'alejo2025')
INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (2, N'alidelsur@gmail.com', N'11111111111')
INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (3, N'luanacastro@gmail.com', N'46732931')
GO
SET IDENTITY_INSERT [dbo].[Insumo] ON 

INSERT [dbo].[Insumo] ([ID_Insumo], [Nombre_insumo], [Unidad], [Cantidad], [Calidad]) VALUES (1, N'Harina de trigo', N'Kilogramos', CAST(850.00 AS Decimal(10, 2)), N'Alta')
INSERT [dbo].[Insumo] ([ID_Insumo], [Nombre_insumo], [Unidad], [Cantidad], [Calidad]) VALUES (4, N'Aceite vegetal', N'Litros', CAST(50.00 AS Decimal(10, 2)), N'Media')
SET IDENTITY_INSERT [dbo].[Insumo] OFF
GO
INSERT [dbo].[Orden_de_compra] ([ID_OC], [Id_emp], [ID_Insumo], [Cantidad], [Unidad], [Fecha_Entrega], [Finalizada], [ID_prov]) VALUES (1, 29, 1, CAST(850.00 AS Decimal(10, 2)), N'Kilogramos', CAST(N'2025-11-11' AS Date), 0, 7)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ID_Prod], [Nombre_Produc], [Rubro], [Precio_Produc], [Existencias]) VALUES (1, N'Pizza', N'Gastronomia', CAST(100.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Producto] ([ID_Prod], [Nombre_Produc], [Rubro], [Precio_Produc], [Existencias]) VALUES (3, N'Pan frances', N'Gastronomia', CAST(40.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([ID_prov], [Nombre_prov], [Cuit], [Direccion_prov], [Telefono_prov], [ID_Usuario]) VALUES (7, N'Alimentos del sur', N'11111111111', N'belgrano', N'11111111', 2)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID_rol], [Valor]) VALUES (1, N'Encargado de almacen')
INSERT [dbo].[Roles] ([ID_rol], [Valor]) VALUES (2, N'Encargado de produccion')
INSERT [dbo].[Roles] ([ID_rol], [Valor]) VALUES (3, N'Gerente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__01E2508BEDAED35F]    Script Date: 4/11/2025 18:16:42 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[DNI_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__C03085758A9653E4]    Script Date: 4/11/2025 18:16:42 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Empleado__DE4431C437E9AD66]    Script Date: 4/11/2025 18:16:42 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__InicioSe__A9D10534E94F382A]    Script Date: 4/11/2025 18:16:42 ******/
ALTER TABLE [dbo].[InicioSesion] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Proveedo__DE4431C4BB00F45B]    Script Date: 4/11/2025 18:16:42 ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Insumo] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Orden_de_compra] ADD  DEFAULT ((0)) FOR [Finalizada]
GO
ALTER TABLE [dbo].[Orden_de_produccion] ADD  DEFAULT ((0)) FOR [Aprobada]
GO
ALTER TABLE [dbo].[Orden_de_produccion] ADD  DEFAULT ((0)) FOR [Finalizada]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Existencias]
GO
ALTER TABLE [dbo].[Solicitud_de_venta] ADD  DEFAULT ((1)) FOR [Pendiente]
GO
ALTER TABLE [dbo].[Detalle_producto]  WITH CHECK ADD FOREIGN KEY([ID_Insumo])
REFERENCES [dbo].[Insumo] ([ID_Insumo])
GO
ALTER TABLE [dbo].[Detalle_producto]  WITH CHECK ADD FOREIGN KEY([ID_Prod])
REFERENCES [dbo].[Producto] ([ID_Prod])
GO
ALTER TABLE [dbo].[Detalle_solicitud_de_venta]  WITH CHECK ADD FOREIGN KEY([ID_Prod])
REFERENCES [dbo].[Producto] ([ID_Prod])
GO
ALTER TABLE [dbo].[Detalle_solicitud_de_venta]  WITH CHECK ADD FOREIGN KEY([ID_SV])
REFERENCES [dbo].[Solicitud_de_venta] ([ID_SV])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([ID_rol])
REFERENCES [dbo].[Roles] ([ID_rol])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Hacia_InicioSesion] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[InicioSesion] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Hacia_InicioSesion]
GO
ALTER TABLE [dbo].[Orden_de_compra]  WITH CHECK ADD FOREIGN KEY([Id_emp])
REFERENCES [dbo].[Empleado] ([Id_emp])
GO
ALTER TABLE [dbo].[Orden_de_compra]  WITH CHECK ADD FOREIGN KEY([ID_Insumo])
REFERENCES [dbo].[Insumo] ([ID_Insumo])
GO
ALTER TABLE [dbo].[Orden_de_compra]  WITH CHECK ADD FOREIGN KEY([ID_prov])
REFERENCES [dbo].[Proveedor] ([ID_prov])
GO
ALTER TABLE [dbo].[Orden_de_produccion]  WITH CHECK ADD FOREIGN KEY([Id_emp])
REFERENCES [dbo].[Empleado] ([Id_emp])
GO
ALTER TABLE [dbo].[Orden_de_produccion]  WITH CHECK ADD FOREIGN KEY([ID_Prod])
REFERENCES [dbo].[Producto] ([ID_Prod])
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Hacia_InicioSesion] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[InicioSesion] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Hacia_InicioSesion]
GO
ALTER TABLE [dbo].[Solicitud_de_venta]  WITH CHECK ADD FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Cliente] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Solicitud_de_venta]  WITH CHECK ADD FOREIGN KEY([Id_emp])
REFERENCES [dbo].[Empleado] ([Id_emp])
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarOrdenCompra]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarOrdenCompra]
@ID_Emp Int,
@ID_Insumo int,
@Cantidad decimal(10,2),
@Unidad nvarchar(20),
@Fecha date,
@Finalizado bit,
@ID_prov int

AS
BEGIN
set nocount on
declare @id int 
select @id = max(ID_OC)+1 from Orden_de_compra
if @id is null set @id = 1
 insert into Orden_de_compra(ID_OC,ID_Emp, ID_Insumo, Cantidad, Unidad,Fecha_Entrega,Finalizada, ID_prov)
 values (@id,@ID_Emp, @ID_Insumo, @Cantidad, @Unidad,@Fecha,@Finalizado, @ID_prov)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarEmpleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarEmpleado]
@Id_Usuario int
AS
BEGIN
	SET NOCOUNT ON;

SELECT 
        E.Id_emp,  
        R.Valor AS Rol,
        E.Apellido_emp,
        E.Direccion_emp,
        E.Telefono_emp,
        E.Nombre_emp,
		E.Dni
    FROM 
        Empleado E 
    INNER JOIN 
        Roles R ON E.ID_rol = R.ID_Rol 
    WHERE 
        E.ID_Usuario = @Id_Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarProveedor]
@Id_Usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT * from Proveedor where ID_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DetallarProductos]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DetallarProductos]
@ID_Prod INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT 
        T2.Nombre_Insumo AS Insumo,  
        T1.Cantidad AS Cantidad,     
        T2.Unidad AS Unidad          
    FROM 
        Detalle_producto AS T1
    INNER JOIN 
        Insumo AS T2 ON T1.ID_Insumo = T2.ID_Insumo
    WHERE 
        T1.ID_Prod = @ID_Prod;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarCliente]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EditarCliente]
@ID_Cliente INT,
@Nombre_Cliente NVARCHAR(100),
@Apellido_Cliente NVARCHAR(100),
@Telefono_Cliente NVARCHAR(20),
@DNI_Cliente NVARCHAR(15)
AS
BEGIN
UPDATE Cliente SET
Nombre_Cliente = @Nombre_Cliente,
Apellido_Cliente = @Apellido_Cliente,
Telefono_Cliente = @Telefono_Cliente,
DNI_Cliente = @DNI_Cliente WHERE ID_Cliente = @ID_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarEmpleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EditarEmpleado]
@ID_emp INT,
@Nombre NVARCHAR(100),
@Apellido NVARCHAR(100),
@Telefono NVARCHAR(120),
@Direccion NVARCHAR(255),
@Rol INT,
@DNI NVARCHAR(15),
@Email NVARCHAR(100)
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;
SELECT @aux = Empleado.ID_Usuario FROM Empleado WHERE id_emp = @id_emp

UPDATE Empleado SET
Nombre_emp = @Nombre,
Apellido_emp = @Apellido,
Telefono_emp = @Telefono,
Direccion_emp = @Direccion,
ID_rol = @Rol,
Dni = @DNI WHERE Id_emp = @ID_emp;

UPDATE InicioSesion SET
Email = @Email WHERE ID_Usuario = @aux
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarProducto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EditarProducto]
@ID_Prod INT,
@Nombre_Produc NVARCHAR(100),
@Precio_Prod DECIMAL(10,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
UPDATE Producto SET
Nombre_Produc = @Nombre_Produc,
Precio_Produc = @Precio_Prod WHERE ID_Prod = @ID_Prod
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EditarProveedor]
@ID_prov INT,
@Nombre NVARCHAR(100),
@Cuit NVARCHAR(15),
@Telefono NVARCHAR(20),
@Direccion NVARCHAR(255),
@Email NVARCHAR(100)
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT @aux = Proveedor.ID_Usuario FROM Proveedor WHERE ID_prov = @ID_prov

UPDATE Proveedor SET
Nombre_prov = @Nombre,
Cuit = @Cuit,
Direccion_prov = @Direccion,
Telefono_prov = @Telefono WHERE ID_prov = @ID_prov

UPDATE InicioSesion SET
Email = @Email WHERE ID_Usuario = @aux

END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarCliente]
@ID_Cliente INT
AS
BEGIN
DELETE FROM Cliente WHERE ID_Cliente = @ID_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmpleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarEmpleado]
@id_emp INT
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

SELECT @aux = Empleado.ID_Usuario FROM Empleado WHERE id_emp = @id_emp
DELETE FROM Empleado WHERE Id_emp = @id_emp
DELETE FROM InicioSesion WHERE ID_Usuario = @aux
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarInsumo]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarInsumo]
@ID_Insumo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from Insumo where ID_Insumo = @ID_Insumo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
@ID_Prod INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DELETE FROM Detalle_producto WHERE ID_Prod = @ID_Prod;
DELETE FROM Producto WHERE ID_Prod = @ID_Prod;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarProveedor]
@ID_prov INT
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT @aux = Proveedor.ID_Usuario FROM Proveedor WHERE ID_prov = @ID_prov
DELETE FROM Proveedor WHERE ID_prov = @ID_prov
DELETE FROM InicioSesion WHERE ID_Usuario = @aux
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EsEmpleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EsEmpleado]
@ID_Usuario INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DECLARE @EsEmpleado BIT = 0;

    IF EXISTS (SELECT 1 FROM Empleado WHERE ID_Usuario = @ID_Usuario)
    BEGIN
        SET @EsEmpleado = 1;
    END

    -- Devuelve el indicador BIT
    SELECT EsEmpleado = @EsEmpleado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EsProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EsProveedor]
@ID_Usuario INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @EsProveedor BIT = 0;

    IF EXISTS (SELECT 1 FROM Proveedor WHERE ID_Usuario = @ID_Usuario)
    BEGIN
        SET @EsProveedor = 1;
    END

    -- Devuelve el indicador BIT
    SELECT EsProveedor = @EsProveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InicioSesion]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InicioSesion]
@Email NVARCHAR(100),
@Contraseña NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
        ID_Usuario
    FROM
        InicioSesion
    WHERE
        Email = @Email
        AND Contraseña = @Contraseña; -- ¡ADVERTENCIA! Usar HASHING en la vida real.
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarCliente] 
@Nombre_Cliente NVARCHAR(100),
@Apellido_Cliente NVARCHAR(100),
@Telefono_Cliente NVARCHAR(20),
@DNI_Cliente NVARCHAR(15)
AS
BEGIN
INSERT INTO Cliente (Nombre_Cliente, Apellido_Cliente, Telefono_Cliente, DNI_Cliente) VALUES (@Nombre_Cliente, @Apellido_Cliente, @Telefono_Cliente, @DNI_Cliente)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleProducto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarDetalleProducto]
@ID_Insumo INT,
@Cantidad DECIMAL(10,2),
@Unidad NVARCHAR(20)
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT @aux =  MAX(ID_Prod) FROM Producto
	INSERT INTO Detalle_producto (ID_Insumo, ID_Prod, Cantidad, Unidad)
	VALUES (@ID_Insumo, @aux, @Cantidad,@Unidad)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarEmpleado] 
@Nombre_emp NVARCHAR(100),
@Apellido_emp NVARCHAR(100),
@Telefono_emp NVARCHAR(20),
@Direccion_emp NVARCHAR(255),
@ID_rol INT,
@Dni NVARCHAR(15),
@Email NVARCHAR(100)
AS
BEGIN
DECLARE @NuevoID_Usuario INT;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT @NuevoID_Usuario = MAX(ID_Usuario) + 1 
    FROM InicioSesion;

INSERT INTO InicioSesion (ID_Usuario, Email, Contraseña) VALUES (@NuevoID_Usuario, @Email, @Dni )
INSERT INTO Empleado (ID_rol, Apellido_emp, Dni, Direccion_emp, Telefono_emp, Nombre_emp, ID_Usuario) VALUES 
(@ID_rol, @Apellido_emp, @Dni, @Direccion_emp, @Telefono_emp, @Nombre_emp, @NuevoID_Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarInsumo]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarInsumo]
@Nombre_insumo NVARCHAR(100),
@Unidad NVARCHAR(20),
@Cantidad DECIMAL(10,2),
@Calidad NVARCHAR(50)
AS
BEGIN
INSERT INTO Insumo (Nombre_insumo, Unidad, Cantidad, Calidad) VALUES (@Nombre_insumo, @Unidad, @Cantidad, @Calidad)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
@Nombre_Produc NVARCHAR(100),
@Rubro NVARCHAR(50),
@Precio_Produc DECIMAL(10,2),
@Existencias INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO Producto (Nombre_Produc, Rubro, Precio_Produc, Existencias)
VALUES (@Nombre_Produc, @Rubro, @Precio_Produc, @Existencias)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertarProveedor]
@Nombre NVARCHAR(100),
@Cuit NVARCHAR(15),
@Telefono NVARCHAR(20),
@Direccion NVARCHAR(255),
@Email NVARCHAR(100)
AS
BEGIN
DECLARE @NuevoID_Usuario INT;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT @NuevoID_Usuario = MAX(ID_Usuario) + 1 FROM InicioSesion;

INSERT INTO InicioSesion (ID_Usuario, Email, Contraseña) VALUES (@NuevoID_Usuario, @Email, @Cuit)
INSERT INTO Proveedor (Nombre_prov, Cuit, Direccion_prov, Telefono_prov, ID_Usuario) VALUES 
					  (@Nombre, @Cuit, @Direccion, @Telefono, @NuevoID_Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarClientes]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT * FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarEmpleados]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT 
        E.Id_emp,  
        R.Valor AS Rol,
        E.Apellido_emp,
        E.Direccion_emp,
        E.Telefono_emp,
        E.Nombre_emp,
		E.Dni
    FROM 
        Empleado E 
    INNER JOIN 
        Roles R ON E.ID_rol = R.ID_Rol 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarInsumos]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarInsumos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT * from Insumo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarOrdenCompra]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarOrdenCompra]
	
AS
BEGIN
	
	SET NOCOUNT ON;

  
	SELECT * from Orden_de_compra;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT * FROM Producto
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProveedores]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarProveedores] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT * FROM Proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerMail]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ObtenerMail]
@Id_emp INT
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT @aux = Empleado.ID_Usuario FROM Empleado WHERE id_emp = @id_emp
SELECT Email FROM InicioSesion WHERE ID_Usuario = @aux
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerMailProveedor]    Script Date: 4/11/2025 18:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ObtenerMailProveedor]
@ID_prov INT
AS
BEGIN
DECLARE @aux INT
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT @aux = Proveedor.ID_Usuario FROM Proveedor WHERE ID_prov = @ID_prov
SELECT Email FROM InicioSesion WHERE ID_Usuario = @aux
END
GO
USE [master]
GO
