USE [master]
GO
/****** Object:  Database [Insumos-En-Capas]    Script Date: 22/10/2025 15:37:54 ******/
CREATE DATABASE [Insumos-En-Capas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Insumos-En-Capas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Insumos-En-Capas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Insumos-En-Capas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Insumos-En-Capas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Insumos-En-Capas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Insumos-En-Capas]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_emp] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_rol] [int] NOT NULL,
	[Dni] [nvarchar](8) NOT NULL,
	[Apellido_emp] [nvarchar](100) NOT NULL,
	[Dirección_emp] [nvarchar](255) NULL,
	[Teléfono_emp] [nvarchar](20) NULL,
	[Nombre_emp] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InicioSesion]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InicioSesion](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_prov] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Nombre_prov] [nvarchar](100) NOT NULL,
	[Cuit] [nvarchar](11) NOT NULL,
	[Direccion_prov] [nvarchar](255) NULL,
	[Telefono_prov] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id_emp], [ID_Usuario], [ID_rol], [Dni], [Apellido_emp], [Dirección_emp], [Teléfono_emp], [Nombre_emp]) VALUES (1, 1, 1, N'47255186', N'pignataro', N'garibaldi 711', N'12345678', N'Julián')
INSERT [dbo].[Empleado] ([Id_emp], [ID_Usuario], [ID_rol], [Dni], [Apellido_emp], [Dirección_emp], [Teléfono_emp], [Nombre_emp]) VALUES (2, 3, 1, N'12345678', N'aaaa', N'aaaaa', N'1111', N'aaaa')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[InicioSesion] ON 

INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (1, N'pignatarojulian55@gmail.com', N'tomi2025')
INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (2, N'alejorico711@gmail.com', N'alejo2025')
INSERT [dbo].[InicioSesion] ([ID_Usuario], [Email], [Contraseña]) VALUES (3, N'prueba@gmail.com', N'cacacaca')
SET IDENTITY_INSERT [dbo].[InicioSesion] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([Id_prov], [ID_Usuario], [Nombre_prov], [Cuit], [Direccion_prov], [Telefono_prov]) VALUES (1, 1, N'julián', N'2035476988', N'garibaldi 711', N'12345678')
INSERT [dbo].[Proveedor] ([Id_prov], [ID_Usuario], [Nombre_prov], [Cuit], [Direccion_prov], [Telefono_prov]) VALUES (2, 2, N'Alejo', N'2376237237', N'siempre viva 811', N'34678646')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID_Rol], [Valor]) VALUES (1, N'Encargado de almacen')
INSERT [dbo].[Roles] ([ID_Rol], [Valor]) VALUES (2, N'Encargado de produccion')
INSERT [dbo].[Roles] ([ID_Rol], [Valor]) VALUES (3, N'Gerente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__C030857530A68F95]    Script Date: 22/10/2025 15:37:54 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Empleado__DE4431C43C0FF551]    Script Date: 22/10/2025 15:37:54 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__InicioSe__A9D10534C3DE3CEF]    Script Date: 22/10/2025 15:37:54 ******/
ALTER TABLE [dbo].[InicioSesion] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__AFA917860C6C63A0]    Script Date: 22/10/2025 15:37:54 ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[Cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Proveedo__DE4431C42EE52E3A]    Script Date: 22/10/2025 15:37:54 ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_InicioSesion] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[InicioSesion] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_InicioSesion]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Roles] FOREIGN KEY([ID_rol])
REFERENCES [dbo].[Roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Roles]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_InicioSesion] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[InicioSesion] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_InicioSesion]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarEmpleado]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarEmpleado]
@Id_Usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT 
        E.Id_emp,  
        -- R.ID_Rol,             -- ¡NO incluyas esta línea para excluir el ID!
        R.Valor AS Rol,           -- <-- ESTO ES EL VALOR DESCRIPTIVO
        E.Apellido_emp,
        E.Dirección_emp,
        E.Teléfono_emp,
        E.Nombre_emp,
		E.Dni
    FROM 
        Empleado E 
    INNER JOIN 
        Roles R ON E.ID_rol = R.ID_Rol -- El JOIN se basa en el ID_rol
    WHERE 
        E.ID_Usuario = @Id_Usuario;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarProveedor]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarProveedor]
@Id_Usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT * from Proveedor where ID_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EsEmpleado]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EsEmpleado]
    @ID_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EsEmpleado BIT = 0;

    IF EXISTS (SELECT 1 FROM Empleado WHERE ID_Usuario = @ID_Usuario)
    BEGIN
        SET @EsEmpleado = 1;
    END

    -- Devuelve el indicador BIT
    SELECT EsEmpleado = @EsEmpleado;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EsProveedor]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EsProveedor]
    @ID_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EsProveedor BIT = 0;

    IF EXISTS (SELECT 1 FROM Proveedor WHERE ID_Usuario = @ID_Usuario)
    BEGIN
        SET @EsProveedor = 1;
    END

    -- Devuelve el indicador BIT
    SELECT EsProveedor = @EsProveedor;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InicioSesion]    Script Date: 22/10/2025 15:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InicioSesion]
@Email NVARCHAR(100),
@Contraseña NVARCHAR(255)
AS
BEGIN
    -- Configuración para no devolver el conteo de filas afectadas
    SET NOCOUNT ON;

    -- Selecciona la información de inicio de sesión si las credenciales coinciden
    SELECT
        ID_Usuario
    FROM
        InicioSesion
    WHERE
        Email = @Email
        AND Contraseña = @Contraseña; -- ¡ADVERTENCIA! Usar HASHING en la vida real.

    -- Si se encuentra un registro, se devuelve el ID_Usuario.
    -- Si no se encuentra, la consulta devuelve un resultado vacío.
END

GO
USE [master]
GO
